<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2>Intro</h2>
        <p class="lead">I'm <a href="https://www.linkedin.com/in/protoboy/">Eduardo Sciammarella</a>, the designer behind <a href="https://www.nanofraction.com">NanoFraction's</a> holographic measurement platform. I help labs, 
          diagnostic teams, and creative studios turn raw optical data into precision metrology, visualization data, and playable stories
          with community-building. I build real-world prototypes, whether you need high-grade lab instrumentation or visual design strategy, I bring 
          the measurement-first toolkit to your toughest design problems.</p>
        <p class="lead">I’m a graduate of the Institute of Design at Illinois Tech (founded as The New Bauhaus), and I’ve received multiple design and innovation honors. In Japan, I was a recipient of the Asahi Shimbun Company Award (FY2018 National Invention Awards, Japan Institute of Invention and Innovation, JIII) for inventing a touch-operated wireless device connection method, later standardized in the NFC Forum Connection Handover specification "Tap to Pay". </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
