<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Intro</h2>
        <p class="lead">I'm Eduardo Sciammarella, the designer behind NanoFraction's holographic measurement platform. I help labs, 
          diagnostic teams, and creative studios turn raw optical data into precission metrology, visualization data, and playable stories
          with community. I build real-world prototypes, whether you need high-grade lab instrumentation or visual design strategy, I bring 
          the measurement-first toolkit to your toughest design problems.
          <!--<a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.--></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
