<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Building production ready solutions for B2B and B2C industries.</h2>
        <p class="lead">Innovation with less disruption more resillience using biologic algorithms and machine learning.
          <!--<a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.--></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
