<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Breakthrough projects impossible to resist.</h3>
        <a target="_blank" href="https://dl.acm.org/doi/pdf/10.1145/354401.354421" class="btn btn-lg btn-light">ToolStone</a>
        <p>Widely cited tangible interface research paper in collaboration with Professor <a target="_blank" style="color:#FFFFFF;" 
                                                                                             href="https://www.sonycsl.co.jp/member/tokyo/206/">Jun Rekimoto</a>.</p>
        <a target="_blank" href="https://github.com/protoedu/protoedu.github.io/blob/main/media/visualflow_media_browser.pdf" class="btn btn-lg btn-dark">VisualFlow</a>
        <p>2001 CHI paper on Visualflow media browser.</p>
      </div>
    </div>
  </div>
</aside>
