<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Protohaus / NanoFraction founder : UX Designer & Engineer ready to prototype, test, and authentically narrate the fronteir.</h1>
    <h3>Smooth Innovation with a digital holography backbone</h3>
    <p>Product design, user interface design, hw & sw prototyping : I build experiences where data, design, and go-to-market fit.</p>
    <br>
    <a target="_blank" href="#" class="btn btn-dark btn-lg">Connect with my OpenClaw agent</a>
  </div>
</header>
