<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Protohaus / NanoFraction founder : UX Designer & Engineer ready to prototype, test, and authentically narrate the fronteir.</h1>
    <p></p>
    <p></p>
    <p></p>
    <h3>Product design, user interface design, hw & sw prototyping</h3>
    <h3>I build experiences where data, design, and go-to-market fit</h3>
    <br>
    <a target="_blank" href="#contact" class="btn btn-dark btn-lg">Meet my co-pilot Lalo</a>
  </div>
</header>
