<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/mediapond.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <p align="left"><b>MediaPond</b> Is an augmented reality projector and social display developed with Sony Computer Science Lab(CSL in Tokyo). The experience includes place based media sharing with users that
              interact with <b>MediaPond</b>. Users are able to share messages and media with other users through the 'pond'. The circular display is 
            supported by it's UI which includes native polar coordinate interactions. Users have the experience of interacting in a fun 'Lazy Susan' 
            circular digital augmented world. This work was carried out as fundamental research with the Human Computer Interface Group.</p>
          </div>
        </div>
         <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/elab.jpg">
              </a>
            </div>
          </div>
        </div>
         <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/local_life.jpg">
              </a>
            </div>
          </div>
        </div>
         <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/step.jpg">
              </a>
            </div>
          </div>
        </div>
      </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
