<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/mediapond.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <p align="left"><b>MediaPond</b> is an augmented reality projector and social display developed with Sony Computer Science Lab (CSL in Tokyo). 
              The projector is easy to set on a table and uses spherical projection, optical reflection, and infrared to
              detect gesture interactions. The experience includes place based media sharing with users that
              interact with <b>MediaPond</b>. Users are able to share messages and media with other users through the 'pond'. The circular display is 
            supported by its UI which includes native polar coordinate interactions. Users have the experience of interacting in a fun 'Lazy Susan' 
            circular augmented world. This work was carried out as fundamental research with the Human Computer Interface Group.</p>
          </div>
        </div>
         <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/elab.jpg">
              </a>
            </div>
          </div>
           <div class="col-md-6">
            <p align="left"><b>Family Entertainment Research</b> work done in collaboration with Rick Robinson, founder of Elab and thought leader in applying ethnographic 
              methods to user-centered research. 
              This means something is a phrase we built our frameworks on by looking at how consumers interact with each other and technology in the home.
             Through the collection of self-recorded video diaries, in-home interviews, maps, and the subsequent use of observation and analytical framing 
              methods we built personas and new design opportunites. The framework looked at the home from four areas: users, space, media, and technology.
              Overlayed on these four dimmensions were the family roles. Our work sessions and ideation led to new product category sustaining platforms 
              focused on family recreation and growth.
             </p>
          </div>
        </div>
         <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/local_life.jpg">
              </a>
            </div>
          </div>
           <div class="col-md-6">
            <p align="left"><b>Fidgt</b> was an early entrant in the mobile social web that pioneered the aggregated social media feed. 
              A user could imort contacts and find macthing social media profiles across various social networks that could be merged. This 
              aggregation provided a home screen for your mobile device that kept you connected to your intimate contacts with support 
              for chat, photo, media, and location sharing. Fidgt also provided one of the first online visualizations of your social network 
              through its web view. Users could create tag magnets and see which members of their network would be attracted to each tag. 
              Source:<a target="_blank" href="https://www.socaltech.com/interview_with_eduardo_sciammarella_protomobl/s-0003987.html">Socaltech</a>, 
              <a target="_blank" href="https://techcrunch.com/2007/05/10/fidgt-central-control-of-social-networks/">TechCrunch</a>,
              <a target="_blank" href="http://www.visualcomplexity.com/vc/project.cfm?id=497">VisualComplexity.com</a>
              
             </p>
          </div>
        </div>
        
         <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/step.jpg">
              </a>
            </div>
          </div>
                      <div class="col-md-6">
            <p align="left"><b>Step - Cognitive Aesthetics</b> was a collaboration with the Shimojo Lab at Caltech. 3D Prototype models of interactive
              'Tool Stone' objects were tested with human particpants. 'Tool Stone' is a term of art refering to a physical 3D input and output
              interaction device. In these experiments we observed gaze cadence as a measure of favorability factors relating to physical aethetics and 
              overall ease of use. 
             </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/appliedminds.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <p align="left"><b>Home of the Future</b> In collaboration with Sony & Applied Minds we developed a concept home
            of the near-future. Hardware and software prototypes were developed as
            part of a smart home system. The living room and kitchen were built in full-scale to experience and test the prototypes. 
              We developed the business relationship, managed the project, 
              and developed the UI and software
            prototypes. The final project was presented to Sony’s CEO Howard Stringer and each of Sony's business groups as strategic prompts.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/visualflow_sony_vaio.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <p align="left"><b>VisualFlow</b> 3D media browser for Sony VAIO computers. Designed to work with Sony Memory Stick. G-Mark Japanese Trade Association
            Design Award. Pre-cursor to Apple Cover Flow. Computer Human Interface paper presented in 2001. Inspired by PAD++ Ken Perlin & Ben Bederson. 
              Source: <a targe="_blank" http://href="https://en.wikipedia.org/wiki/VisualFlow">wiki/VisualFlow</a></p>
          </div>
        </div>
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
        <!-- /.row (nested) -->
        
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
